## -*- coding: utf-8 -*-

<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
<%namespace name="pythonanywhere" file="pythonanywhere.tmpl" import="*" />
<%def name="html_headstart()">
<!DOCTYPE html>
<html lang="${lang}">
    <head>
    <meta 
        http-equiv="Content-Security-Policy" 
        content="default-src 'none'; img-src 'self' https://www.pythonanywhere.com; script-src 'self' https://code.jquery.com https://www.google-analytics.com; font-src 'self' https://www.pythonanywhere.com https://fonts.googleapis.com https://fonts.gstatic.com; style-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com https://www.pythonanywhere.com; frame-src https://www.pythonanywhere.com; connect-src 'self'"
    >
    <meta charset="utf-8">
    %if description:
    <meta name="description" content="${description}">
    %endif
    <meta name="viewport" content="width=device-width">
    <title>${title|striphtml} | ${blog_title|striphtml}</title>

    ${html_stylesheets()}
    ${html_feedlinks()}
    %if permalink:
      <link rel="canonical" href="${abs_link(permalink)}">
    %endif

    %if favicons:
        %for name, file, size in favicons:
            <link rel="${name}" href="${file}" sizes="${size}"/>
        %endfor
    %endif

    %if prevlink:
        <link rel="prev" href="${prevlink}" type="text/html">
    %endif
    %if nextlink:
        <link rel="next" href="${nextlink}" type="text/html">
    %endif

    ${mathjax_config}
    %if use_cdn:
        <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    %else:
        <!--[if lt IE 9]><script src="${url_replacer(permalink, '/assets/js/html5.js', lang)}"></script><![endif]-->
    %endif

    ${extra_head_data}
</%def>


<%def name="late_load_js()">
    %if use_bundles:
        <script src="/assets/js/all-nocdn.js"></script>
    %else:
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/moment-with-locales.min.js"></script>
        <script src="/assets/js/fancydates.js"></script>
        <script src="/assets/js/jquery.colorbox-min.js"></script>
    %endif
    %if colorbox_locales[lang]:
        <script src="/assets/js/colorbox-i18n/jquery.colorbox-${colorbox_locales[lang]}.js"></script>
    %endif
    ${social_buttons_code}
</%def>


<%def name="html_stylesheets()">
        <link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/colorbox.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/theme.css" rel="stylesheet" type="text/css">
    % if annotations and post and not post.meta('noannotations'):
        ${notes.css()}
    % elif not annotations and post and post.meta('annotations'):
        ${notes.css()}
    % endif
    ${pythonanywhere.extra_css()}
</%def>


<%def name="html_navigation_links()">
    %for url, text in navigation_links[lang]:
        % if isinstance(url, tuple):
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">${text}<b class="caret"></b></a>
            <ul class="dropdown-menu">
            %for suburl, text in url:
                % if rel_link(permalink, suburl) == "#":
                    <li class="active"><a href="${permalink}">${text} <span class="sr-only">${messages("(active)", lang)}</span></a>
                %else:
                    <li><a href="${suburl}">${text}</a>
                %endif
            %endfor
            </ul>
        % else:
            % if rel_link(permalink, url) == "#":
                <li class="active"><a href="${permalink}">${text} <span class="sr-only">${messages("(active)", lang)}</span></a>
            %else:
                <li><a href="${url}">${text}</a>
            %endif
        % endif
    %endfor
</%def>

<%def name="html_feedlinks()">
    %if rss_link:
        ${rss_link}
    %elif generate_rss:
        %if len(translations) > 1:
            %for language in translations:
                <link rel="alternate" type="application/rss+xml" title="RSS (${language})" href="${_link('rss', None, language)}">
            %endfor
        %else:
            <link rel="alternate" type="application/rss+xml" title="RSS" href="${_link('rss', None)}">
        %endif
    %endif
    %if generate_atom:
        %if len(translations) > 1:
            %for language in translations:
                <link rel="alternate" type="application/atom+xml" title="Atom (${language})" href="${_link('index_atom', None, language)}">
            %endfor
        %else:
            <link rel="alternate" type="application/atom+xml" title="Atom" href="${_link('index_atom', None)}">
        %endif
    %endif
</%def>

<%def name="html_translations()">
    %for langname in translations.keys():
        %if langname != lang:
            <li><a href="${abs_link(_link("root", None, langname))}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></li>
        %endif
    %endfor
</%def>
