## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
<%namespace name="pythonanywhere" file="pythonanywhere.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H2TF29B55R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H2TF29B55R');
</script>

<body>

<!-- Menubar -->

${pythonanywhere.header_html()}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            ${pythonanywhere.pa_logo()}
            ${pythonanywhere.pa_search()}
        </div>
    </div>
</div>

<!-- End of Menubar -->
<div class="container-fluid" id="content" role="main">
    <!--Body content-->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            ${template_hooks['page_header']()}
            <%block name="content"></%block>
        </div>
    </div>

    <!--End of body content-->
    <div class="footerbox">
        <div id="id_footer" class="container">

            <footer id="id_copyright_div">
                % if post and post.post_name != "articles/API":
                    <p>
                        <i>Want to improve this page?
                            <a href="https://github.com/pythonanywhere/help_pages">Submit a pull request!</a></i>
                    </p>
                % endif
                <p>
                    <%
                           from datetime import datetime
                           %>
                           Copyright &copy; 2011-${datetime.utcnow().year} <a href="https://www.pythonanywhere.com/about/company_details/">PythonAnywhere LLP</a>
                           &mdash;
                           <a href="https://www.pythonanywhere.com/terms/">Terms</a>
                           &mdash;
                           <a href="https://www.pythonanywhere.com/privacy/">Privacy & Cookies</a><br/>
                           "Python" is a registered trademark of the Python Software Foundation.
                </p>
            </footer>
        </div>
        ${template_hooks['page_footer']()}
    </div>
</div>
${base.late_load_js()}
    <script type="javascript" src="/assets/js/pretty.js"/>
    <%block name="extra_js"></%block>
${pythonanywhere.late_load_javascript()}
${body_end}
${template_hooks['body_end']()}
</body>
</html>
