## -*- coding: utf-8 -*-

<%def name="extra_css()">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" />
  <link rel="stylesheet" href="/assets/css/help.css">

  <link href="/assets/css/page.css" rel="stylesheet" type="text/css">
</%def>

<%def name="header_html()">
  <div id="header-container">
  <nav class="navbar navbar-default fullscreen-main-navbar help-navbar">
  <div class="extra-nav-content">
    ### Leave this block alone.
    %if search_form:
      ${search_form}
    %endif
  </div>
  <div class="fullscreen-mini-nav">
    <ul id="id_header_links" class="nav navbar-nav navbar-right help-links">
    <li><a id="id_feedback_link" class="feedback_link btn-link">Send feedback</a></li>
    <li><a id="id_forums_link" class="btn-link" href="https://www.pythonanywhere.com/forums/">Forums</a></li>
    <li><a id="id_help_link" class="btn-link" href="/">Help</a></li>
    <li><a href="//blog.pythonanywhere.com/" class="btn-link" id="id_blog_link">Blog</a></li>
  </ul>
  </div>

  </nav>

  <div id="tipue_search_content"></div>
</%def>

<%def name="feedback_dialog_html()">
    <div id="id_feedback_container" class="hidden">
      <iframe id="id_feedback_frame" name="feedback_frame" class="floaty-iframe" src="https://www.pythonanywhere.com/feedback/form/"></iframe>
    </div>
</%def>

<%def name="pa_logo()">
  <div class="navbar-header">
    <a class="brand" href="https://www.pythonanywhere.com/"><img id="id_logo" src="https://www.pythonanywhere.com/static/anywhere/images/PA-logo.svg" title="PythonAnywhere logo" alt="PythonAnywhere logo"></a>
  </div>
</%def>


<%def name="late_load_javascript()">
  ## Note: we use a newer jquery ui here to be compatible with the jquery
  ## that is used by the search
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/assets/js/feedback.js"></script>
  <script type="text/javascript" src="/assets/js/google.js"></script>
</%def>
